@charset "UTF-8";

@font-face {
  font-family: RobotoCondensed;
  font-display: swap;
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"), url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: PTSerif;
  font-display: swap;
  src: url("../fonts/PTSerif-Regular.woff2") format("woff2"), url("../fonts/PTSerif-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2"), url("../fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

[class*=icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=icon-]:before {
  display: block;
}

.icon-arrow:before {
  content: "\e900";
}

.icon-circle-left:before {
  content: "\e901";
}

.icon-circle-right:before {
  content: "\e902";
}

.icon-search:before {
  content: "\e903";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #888888;
  line-height: 1;
  font-family: "RobotoCondensed";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "RobotoCondensed";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.header {
  text-align: center;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__logo {
  max-width: 24.5rem;
  width: 100%;
}

@supports (padding-top: clamp( 1.25rem , -0.2884615385rem  +  7.6923076923vw , 5.625rem )) {
  .header__logo {
    padding-top: clamp( 1.25rem , -0.2884615385rem  +  7.6923076923vw , 5.625rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , -0.2884615385rem  +  7.6923076923vw , 5.625rem )) {
  .header__logo {
    padding-top: calc(1.25rem + 4.375 * (100vw - 20rem) / 56.875);
  }
}

@supports (padding-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
  .header__logo {
    padding-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem );
  }
}

@supports not (padding-bottom: clamp( 1.875rem , 1.2156593407rem  +  3.2967032967vw , 3.75rem )) {
  .header__logo {
    padding-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 56.875);
  }
}

.header__link {
  width: 100%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-bottom: 38%;
}

.menu {
  border-top: 0.125rem solid #C4C4C4;
}

.menu__icon {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__item {
  width: 18.75rem;
}

.menu__item:first-child {
  border-left: 0.0625rem solid #C4C4C4;
}

.menu__item:last-child {
  border-right: 0.0625rem solid #C4C4C4;
}

.menu__link {
  font-size: 1.5rem;
  line-height: 1.1666666667;
  display: block;
  padding: 2.125rem 0.625rem 2.375rem;
  border-left: 0.0625rem solid #C4C4C4;
  border-right: 0.0625rem solid #C4C4C4;
  color: #888888;
}

.footer {
  margin: 0rem 0rem 1.5625rem 0rem;
}

.footer__body {
  max-width: 24.5rem;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

.footer__logo {
  padding-bottom: 38%;
  display: inline-block;
  width: 100%;
}

.contacts-btn {
  padding: 1rem 1.3125rem;
  background-color: #fff;
  line-height: 1;
  color: #000;
}

.header__slider {
  position: relative;
  margin: 0rem 0rem 3.75rem 0rem;
}

.slider__image {
  padding-bottom: 32%;
}

.swiper-button-prev {
  left: 1.25rem;
}

.swiper-button-next {
  right: 1.25rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: #000;
  font-size: 3.125rem;
  position: absolute;
  top: 50%;
}

.inner__search {
  margin: 0rem 0rem 3.75rem 0rem;
}

.inner__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner__title {
  font-size: 1.5rem;
  line-height: 1;
}

.inner__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 26.875rem;
  margin: 0rem 0rem 0rem 4.375rem;
}

.inner__input {
  width: 100%;
  border: 0.125rem solid #C4C4C4;
  padding: 1.4375rem 0.9375rem 1.4375rem 0.625rem;
}

.inner__input ::-webkit-input-placeholder {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #888888;
}

.inner__input ::-moz-placeholder {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #888888;
}

.inner__input :-ms-input-placeholder {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #888888;
}

.inner__input ::-ms-input-placeholder {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #888888;
}

.inner__input ::placeholder {
  font-family: "RobotoCondensed";
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #888888;
}

.inner__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.4375rem 1.4375rem 1.4375rem 0.625rem;
  color: #fff;
  background-color: #C4C4C4;
}

.inner__btn span {
  padding: 0rem 0rem 0rem 0.625rem;
}

@supports (margin-bottom: clamp( 3.125rem , -0.1717032967rem  +  16.4835164835vw , 12.5rem )) {
  .popular {
    margin-bottom: clamp( 3.125rem , -0.1717032967rem  +  16.4835164835vw , 12.5rem );
  }
}

@supports not (margin-bottom: clamp( 3.125rem , -0.1717032967rem  +  16.4835164835vw , 12.5rem )) {
  .popular {
    margin-bottom: calc(3.125rem + 9.375 * (100vw - 20rem) / 56.875);
  }
}

.popular__title {
  font-family: "PTSerif";
  line-height: 1.3125;
  text-align: center;
  width: 100%;
  padding: 1.125rem 0rem;
  background-color: #000;
  color: #fff;
}

@supports (font-size: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
  .popular__title {
    font-size: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
  .popular__title {
    font-size: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
  }
}

@supports (margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .popular__title {
    margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem );
  }
}

@supports not (margin-bottom: clamp( 2.5rem , 1.1813186813rem  +  6.5934065934vw , 6.25rem )) {
  .popular__title {
    margin-bottom: calc(2.5rem + 3.75 * (100vw - 20rem) / 56.875);
  }
}

.popular-block__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.popular-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 17.5rem;
  width: 100%;
}

.popular-block__image {
  width: 100%;
  padding-bottom: 100%;
  border-radius: 50%;
  margin: 0rem 0rem 2.1875rem 0rem;
  overflow: hidden;
}

.popular-block__title {
  font-size: 1.5rem;
  line-height: 1;
  max-width: 12.1875rem;
  margin: 0rem 0rem 2.1875rem 0rem;
  text-align: center;
}

.popular-block__btn {
  line-height: 1.3333333333;
  padding: 0.8125rem 2.875rem;
  background-color: #C4C4C4;
  color: #fff;
}

.intro {
  margin: 0rem 0rem 6.25rem 0rem;
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 12.5rem;
     -moz-column-gap: 12.5rem;
          column-gap: 12.5rem;
  row-gap: 3.125rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__item {
  max-width: 31.25rem;
  width: 100%;
}

.intro__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 0rem 1.875rem 0rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__image {
  margin: 0rem 1.875rem 0rem 0rem;
}

.intro__title {
  font-family: "PTSerif";
  font-size: 2.25rem;
  line-height: 1;
  color: #000;
  max-width: 21.875rem;
}

.intro__text {
  color: #000;
  max-width: 29.375rem;
  line-height: 1.3333333333;
  margin: 0rem 0rem 2.8125rem 0rem;
}

.intro__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #000;
  font-size: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intro__link span {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  color: #888888;
  text-decoration: underline;
  padding: 0rem 0rem 0rem 0.625rem;
}

.presents__slide {
  max-width: 120rem;
  width: 100%;
  position: relative;
}

.presents__image {
  padding-bottom: 56%;
}

.presents__item {
  position: absolute;
  top: 4.375rem;
  right: 18.75%;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.presents__title {
  font-family: "PTSerif";
  line-height: 1;
  text-align: right;
  color: #fff;
  max-width: 28.125rem;
  margin: 0rem 0rem 0.9375rem 0rem;
}

@supports (font-size: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
  .presents__title {
    font-size: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.6346153846rem  +  3.0769230769vw , 3rem )) {
  .presents__title {
    font-size: calc(1.25rem + 1.75 * (100vw - 20rem) / 56.875);
  }
}

.presents__btn {
  padding: 1rem 1.125rem;
  color: #fff;
  background-color: #000;
  max-width: 9.375rem;
}

.contacts {
  background-color: #000;
  padding: 0rem 0rem 12.5rem 0rem;
}

.contacts__body {
  padding: 6.25rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__item {
  max-width: 26.25rem;
}

.contacts__title {
  font-family: "PTSerif";
  font-size: 3rem;
  line-height: 1;
  color: #fff;
  max-width: 16.5625rem;
  text-align: center;
  margin: 0 auto;
}

.contacts__team {
  margin: 1.875rem 0rem 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts__team-inner {
  color: #fff;
  text-align: center;
  line-height: 1.1666666667;
}

.contacts__team-avatar {
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  margin: 0rem 0rem 1.5625rem 0rem;
}

.contacts__team-name {
  margin: 0rem 0rem 0.3125rem 0rem;
}

.contacts__team-old {
  margin: 0rem 0rem 0.625rem 0rem;
}

.contacts__team-city {
  margin: 0rem 0rem 2.8125rem 0rem;
}

.contacts__list {
  margin: 3.125rem 0rem 0rem 0rem;
}

.contacts__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 1.5625rem;
  margin: 0rem 0rem 1.25rem 0rem;
}

.contacts__list-item span {
  font-size: 1.125rem;
  line-height: 1;
  margin: 0rem 0rem 0rem 2.1875rem;
}

.contacts__image {
  margin: 3.125rem 0rem 1.5625rem 0rem;
}

.contacts__text {
  color: #fff;
  line-height: 1.1666666667;
  margin: 0rem 0rem 1.5625rem 0rem;
  max-width: 18.75rem;
}

.contacts__btn {
  padding: 1rem 1.8125rem;
}

.search {
  background-color: #000;
  padding: 0rem 0rem 6.25rem 0rem;
}

.search__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search__menu {
  margin: 0rem 10.625rem 0rem 0rem;
}

.search__link {
  color: #fff;
  font-size: 1.5rem;
  line-height: 1.5;
}

.search__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 46.875rem;
  width: 100%;
}

.search__title {
  line-height: 1;
  margin: 0rem 0.625rem 0rem 0rem;
  max-width: 5.9375rem;
}

.search__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 41.25rem;
          flex: 1 1 41.25rem;
}

.search__input {
  padding: 1.625rem 0.9375rem 1.625rem 0.625rem;
  width: 100%;
  max-width: 41.25rem;
}

.search__input ::-webkit-input-placeholder {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  font-family: "RobotoCondensed";
  color: #888888;
}

.search__input ::-moz-placeholder {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  font-family: "RobotoCondensed";
  color: #888888;
}

.search__input :-ms-input-placeholder {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  font-family: "RobotoCondensed";
  color: #888888;
}

.search__input ::-ms-input-placeholder {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  font-family: "RobotoCondensed";
  color: #888888;
}

.search__input ::placeholder {
  font-size: 1.125rem;
  line-height: 1.3333333333;
  font-family: "RobotoCondensed";
  color: #888888;
}

.search__btn {
  padding: 1.625rem 2.0625rem 1.625rem 2.3125rem;
  color: #fff;
  background-color: #C4C4C4;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 76.875em) {
  .presents__item {
    right: 8.3333333333%;
  }

  .contacts {
    padding: 0rem 0rem 6.25rem 0rem;
  }

  .contacts__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 4.375rem;
       -moz-column-gap: 4.375rem;
            column-gap: 4.375rem;
  }

  .contacts__item {
    margin: 0rem 0rem 6.25rem 0rem;
  }
}

@media (max-width: 61.99875em) {
  .contacts {
    padding: 0rem 0rem 0rem 0rem;
  }

  .search__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .search__menu {
    margin: 0rem 0rem 3.125rem 0rem;
  }

  .search__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .search__item {
    margin: 0rem 0.625rem;
  }
}

@media (max-width: 47.99875em) {
  .inner__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .inner__item {
    margin: 0rem 0rem 1.25rem 0rem;
  }

  .inner__title {
    margin: 0rem 0.9375rem 0rem 0rem;
  }

  .inner__form {
    width: 100%;
    margin: 0rem 0rem 0rem 0rem;
  }
}

@media (max-width: 29.99875em) {
  .header__logo {
    padding-right: 0.9375rem;
    padding-left: 0.9375rem;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .menu__item:first-child {
    border-left: none;
  }

  .menu__item:last-child {
    border-right: none;
  }

  .menu__item {
    width: 100%;
  }

  .menu__link {
    border-left: none;
    border-right: none;
    border-top: 0.0625rem solid #C4C4C4;
    border-bottom: 0.0625rem solid #C4C4C4;
    padding: 1.5rem 1.25rem 1.75rem 0rem;
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .intro__head {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .intro__image {
    margin: 0rem 0rem 1.875rem 0rem;
  }

  .intro__title {
    text-align: center;
  }

  .intro__text {
    text-align: center;
  }

  .intro__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .search {
    padding: 0rem 0rem 3.125rem 0rem;
  }

  .search__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .search__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 100%;
  }

  .search__title {
    max-width: 100%;
    margin: 0rem 0rem 1.25rem 0rem;
  }

  .search__form {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  .search__input {
    margin: 0rem 0rem 1.25rem 0rem;
  }
}

@media (any-hover: hover) {
  .menu__item {
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
  }

  .menu__item:hover {
    background-color: #000;
    color: #fff;
  }

  .menu__link:hover {
    color: #fff;
  }

  .contacts-btn {
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
  }

  .contacts-btn:hover {
    background-color: #e6e6e6;
  }

  .inner__btn:hover {
    background-color: #ababab;
  }

  .popular-block__image img {
    -webkit-transition: all 1.5s ease 0s;
    -o-transition: all 1.5s ease 0s;
    transition: all 1.5s ease 0s;
  }

  .popular-block__image img:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .popular-block__btn {
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
  }

  .popular-block__btn:hover {
    background-color: #ababab;
  }

  .intro__link span:hover {
    text-decoration: none;
  }

  .search__link {
    -webkit-transition: color 0.5s ease 0s;
    -o-transition: color 0.5s ease 0s;
    transition: color 0.5s ease 0s;
  }

  .search__link:hover {
    color: #888888;
  }

  .search__btn {
    -webkit-transition: background-color 0.5s ease 0s;
    -o-transition: background-color 0.5s ease 0s;
    transition: background-color 0.5s ease 0s;
  }

  .search__btn:hover {
    background-color: #ababab;
  }
}